<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yet Another QR</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <!-- <h1>BS working</h1> -->
        <div class="navbar">

            <div class="navbar-left">
                <!-- Element 1 -->
                <!-- <div class="logo"> -->
                <a href="/">
                    <h1 class="logo">
                        <span id="Y">Y</span>
                        <span id="A">A</span>
                        <span id="Q">Q</span>
                        <span id="R">R</span>
                    </h1>
                </a>
                <!-- </div> -->
            </div>

            <div class="navbar-right">
                <!-- Element 2 -->
                <a href="">ABOUT</a>
                <a href="">BLOG</a>
                <a href="">CONTACT</a>
            </div>

        </div>
    </header>

</body>

</html>