<%- include("partials/header.ejs") %>

<div class="container">

    <!-- <h1 id="yaqr">You</h1> -->
    <h3 id="qrcode">Your QR code is successfully generated:</h3>
    <br><br>
    <img id="qrimg" src="<%= qrcode %>" alt="qrcode">
    <button id="another" type="button">
        <a href="/">Generate Another</a>
    </button>
    <button type=""></button>

</div>