@font-face {
    font-family: "Alternates";
    src: url("/Fonts/Alternates/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: Modern;
    src: url("/Fonts/Modern/BluePrinted.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Alternates"; */
    background-image: url("/Images/shapes.png");
    background-repeat: no-repeat;
    background-size: cover;
}